<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Cx-HelpDesk" annotations="JDK" parallel="tests">

    <test name="Login" enabled="true">
        <classes>
            <class name="testcase.cxHelpDesk.CxHelpDesk_LoginPageTests"></class>
        </classes>
    </test>

</suite>